---
layout: default
---

<nav id='sidebar'>
	{% include nav.html %}
</nav>

<section id='content'>
<span id="devCenter">비트레이드 개발자 센터</span>
<p id="devCenterDetail"><br/>비트레이드에서 제공하는 Open API 사용을 위한 문서를 제공합니다. <br/>
   <br/>제공되는 API를 통해서 손쉽게 암호화폐 유관 서비스를 개발할 수 있습니다. <br/></p>
<div id="apiBtn">
	<button id="apiKey" onclick="location.href='https://www.btrade.co.kr/mypage/mypage.do'" target="_bottom">API Key 발급받기</button>
	<button id="apiDocument" onclick="location.href='#/reference'" target="_bottom">제공 문서 안내</button>
</div>


{% for post in site.posts %}
  <article>
    <a name='{{ post.url }}' href='#{{ post.url }}'></a>
    <section class='body'>
      {{ post.content }}
    </section>
  </article>
{% endfor %}
</section>
