---
layout: default
---

<nav id='sidebar'>
	{% include nav.html %}
</nav>

<section id='content'>
<span id="devCenter">비트레이드 개발자 센터<br/></span>
<p>비트레이드에서 제공하는 Open API 사용을 위한 문서를 제공합니다. <br/>
제공되는 API를 통해서 손쉽게 암호화폐 유관 서비스를 개발할 수 있습니다.
</p>

{% for post in site.posts %}
  <article class='{{ post.type }}'>
    <a name='{{ post.url }}' href='#{{ post.url }}'><h2>{% if post.type %}<code><b>{{ post.type }}</b> {{ post.path }}</code> {% endif %}{{ post.title }}</h2></a>
    <section class='body'>
      {{ post.content }}
    </section>
  </article>
{% endfor %}
</section>
