<h1>Btrade API</h1>

<div id='links'>
	<div id='link1'>
		<button onclick="location.href='#/response-status-codes'">API Information
			<!-- <a href='#/response-status-codes'>API Info</a> -->
		</button>
	</div><br/>
	<div id='link2'>
		<button onclick="location.href='#/api-notice'">API 공지
			<!-- <a href='#/api-notice'>API 공지</a> -->
		</button>
	</div><br/>
	<div id='link3'>
		<button onclick="location.href='#/reference'">Reference
			<!-- <a href='#/reference'>Reference</a> -->
		</button>
	</div><br/>
	<div id='link4'>
		<button onclick="location.href='#/api-question'">API 사용 및 제휴 문의
			<!-- <a href='#/api-question'>API 사용 및 제휴 문의</a> -->
		</button>
	</div><br/>
  <!-- {% for post in site.posts %}
    {% if post.category == null %}
    <div>
    	<button>
    		<a href='#{{ post.url }}'>{{ post.title }}</a>
    	</button>
    </div><br/>
    {% endif %}
  {% endfor %} -->
  <!-- {% for category in site.categories %}
</div>
  <li><h2>{{ category | first }}</h2>
    <ul>
    {% for posts in category %}
      {% for post in posts %}        
        <li class='{{ post.type }}'><a href='#{{ post.url }}'>{{ post.title }}</a></li>
      {% endfor %}
    {% endfor %}
    </ul>
  </li>
{% endfor %} -->
</ul>